* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#pageOne {
  height: 100vh;
  width: 100%;
  background: url("https://images.pexels.com/photos/1268549/pexels-photo-1268549.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

#pageTwo {
  height: 100%;
  width: 100%;
  background-color: beige;
  display: flex;
  overflow: hidden;
  background-size: cover;
}

#pageThree {
  height: 100vh;
  width: 100%;
  background-color: darkorchid;
}

#nameAndLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  margin: 10vh;
  padding: 10px;
  text-align: center;
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  color: white;
  opacity: 0.9;
  border: solid white 2px;
}

nav {
  background-color: rgb(53, 53, 53);
  height: 50px;
  margin: 0;
  overflow: hidden;
  background-size: cover;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
  font-family: Abril Fatface;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
  opacity: 0.7;
  transition: 500ms;
  border-bottom: solid white 1px;
}

a:hover {
  opacity: 1;
}

img {
  margin: auto;
  padding: 30px;
  height: 100%;
  width: 80%;
}
